@import "susy";

$susy:(
    columns: 12,
    container: 1140px,
    debug: (image: hide)
);

@include border-box-sizing;

.container {
    @include container();
}

.product_column {
    @include span(3);
}
