@import "susy";

$susy:(
    columns: 21,
    container: 1140px,
    debug: (image: hide)
);

@include border-box-sizing;

.container {
    @include container();
}

.home {
    @include span(7);
}

.auto {
    @include span(7);
}

.life {
    @include span(7);
}
